/*公用*/
.comWidth{
	width: 1000px;
	margin:0px auto;
}
.leftArea{
	float: left;
}
.rightArea{
	float: right;
}
.hide{
	display: none;
}
.show{
	display: block;
}

/* 头部 */
/* logoBar */
.loginWidth{
	width: 460px;
	margin:0px auto;
}
.logoBar{
	height:85px;
	background-color: #1D7AD9;
}
.logo{
	padding-top: 12px;
}
.welcome{
	display:inline-block;
	font-size: 22px;
	font-family: "微软雅黑";
	color: #FFF;
	padding-top: 18px;
	padding-left: 12px;
}

/* 主体 */
.main_body{
	margin-top: 10px;
	border: 1px solid #E1E1E1;
	position: relative;
	margin-bottom: 157px;
}
.login{
	padding: 40px 85px 22px;
}
.login a:hover{
	text-decoration: underline;
}
.login_tit{
	color: #999999;
	padding-bottom: 4px;
}
.login_input{
	height: 32px;
	line-height: 32px\9;
	border: 1px solid #CCCCCC;
	width: 100%;
	text-indent: 5px;
	margin-bottom: 15px;
}
.name{
	background: url(../images/icon/login_name.jpg) right center no-repeat;
}
.password{
	background: url(../images/icon/login_password.jpg) right center no-repeat;
}
.check input,.check label{
	vertical-align: middle;
}
.check label{
	padding-right: 7px;
}
.login_btn{
	width: 100%;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border: 1px solid #D0E4F9;
	background: url(../images/btn_bg.jpg) left top repeat-x;
	margin-top: 29px;
	margin-bottom: 34px;
}
.partner_login{
	margin-top:8px;
}
.partner_login li{
	float: left;
}
.partner_login span{
	color: #666666;
	margin-right: 3px;
	margin-left: 2px;
}
.more{
	padding-right: 11px;
	background: url(../images/icon/login_sj.jpg) right center no-repeat;
}
.reg_link{
	position: absolute;
	right: 42px;
	width: 115px;
	height: 31px;
	line-height: 31px;
	display: inline-block;
	background-color: #7CBE56;
	text-align: center;
}
.reg_link input{
	color: #FFF;
	font-size: 15px;
}



































/*底部*/
.footer{
	background-color: #D4D4D4;
	height: 173px;
	text-align: center;
	margin-top: 40px;
	padding-top: 50px;
}
.footer a{
	color: #000;
}
.footer a:hover{
	color: #8C6900;
}
.footer p{
	font-family: "宋体";
	line-height: 24px;
}
.footer .bottom_logo{
	margin-top: 30px;
}
.bottom_logo a{
	margin: 0 12px;
}
.footer span{
	margin:0 5px;
}
